@use 'design-system/src/utils/mixins';

$width: 6.2;
$height: 2.8;
$toggleSize: 2;
$transitionDuration: 200;
$sliderXLimit: ($height - $toggleSize) / 2;
$sliderMoveRange: $width - $toggleSize - $sliderXLimit * 2;
$switchMsgWidth: $width - $sliderXLimit - $toggleSize;

.switchContainer {
  @include mixins.flex($justify: flex-start, $align: center);
  gap: var(--space-3);
  position: relative;
}

.switchButtonContainer {
  height: $height + rem;
  width: $width + rem;
  transition: $transitionDuration + ms;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--c_grey-300);

  &:before {
    position: absolute;
    content: '';
    height: $toggleSize + rem;
    width: $toggleSize + rem;
    left: $sliderXLimit + rem;
    bottom: $sliderXLimit + rem;
    transition: $transitionDuration + ms;
    background-color: var(--c_white);
    z-index: 1;
  }
}

.isActive {
  background-color: var(--c_secondary);
  &:before {
    transform: translateX($sliderMoveRange + rem);
  }
}

.input {
  opacity: 0;
  width: $width + rem;
  height: $height + rem;
}

.round {
  border-radius: 3.4rem;
  &:before {
    content: '';
    border-radius: 50%;
  }
}

.switchActiveMsg {
  left: 0;
}

.switchMsg {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: $switchMsgWidth + rem;
  color: var(--c_white);
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
  transform: translate(0, -50%);
  left: 2rem;
  &.active {
    left: 0;
  }
}

.switchLabel {
  width: 100%;
}

:export {
  timeTransition: $transitionDuration;
}
