@use './post-card-mixing';

.card {
   background-color: var(--c_white);
   border-radius: 1rem;
   box-shadow: var(--b-sdw_card);
   cursor: pointer;
   display: flex;
   flex-direction: column;
}

.cardRow {
   @include post-card-mixing.cardRow();
}

.media {
   border-radius: 1rem 1rem 0rem 1rem;
   flex-shrink: 0;
   height: 17rem;
   overflow: hidden;
   position: relative;
}

.cover {
   height: 100%;
   object-fit: cover;
   object-position: center;
   width: 100%;
}

.tag {
   border-radius: 0rem 1rem 1rem 0rem;
   color: var(--c_white);
   padding: var(--space-1) var(--space-2);
   position: absolute;
   left: 0rem;
   top: var(--space-4);
}

.tag_orange {
   background-color: var(--c-blog-post-tag_orange);
}
.tag_blue {
   background-color: var(--c-blog-post-tag_blue);
}
.tag_green {
   background-color: var(--c-blog-post-tag_green);
}

.content {
   display: flex;
   flex: 1;
   flex-direction: column;
   margin: var(--space-4) var(--space-3);
} 

.title,
.description {
   display: -webkit-box;
   overflow: hidden;
   -webkit-box-orient: vertical;
}

.title {  
   flex: 1;
   font-size: var(--f-size_18);
   font-weight: var(--f-weight_700);
   line-height: 2.25rem;
   max-height: 6.75rem;
   margin-bottom: var(--space-2);
   -webkit-line-clamp: 3;
}

.description {
   font-size: var(--f-size_12);
   line-height: 1.5rem;
   height: 3rem;
   -webkit-line-clamp: 2;
}

.readMore {
   align-items: center;
   color: var(--c_secondary);
   display: flex;
   font-weight: var(--f-weight_700);
   justify-content: flex-end;
   margin-top: var(--space-2);
}

.readMore svg {
   fill: var(--c_secondary);
   margin-left: var(--space-3);
   height: 1rem;
   width: 1.5rem;
}