.outer {
   overflow-y: hidden;
   -webkit-overflow-scrolling: touch;
}
.inner {
   display: flex;
   max-width: 100%;
   overflow-x: auto;
   overflow-y: hidden;
   
   &::-webkit-scrollbar {
      appearance: none;
      display: none;
   }
}