// Variables UA //
@use '../../utils/reset';
@use '../../utils/mixins';
@use './colors';
@use '../../base/variables/fonts';
@use '../../base/variables/variables' as baseVariables;
@use './variables';

@import '@fontsource/source-sans-pro/200.css';
@import '@fontsource/source-sans-pro/300.css';
@import '@fontsource/source-sans-pro/400.css';
@import '@fontsource/source-sans-pro/600.css';
@import '@fontsource/source-sans-pro/700.css';
@import '@fontsource/source-sans-pro/900.css';

@import '@fontsource/source-sans-pro/200-italic.css';
@import '@fontsource/source-sans-pro/300-italic.css';
@import '@fontsource/source-sans-pro/400-italic.css';
@import '@fontsource/source-sans-pro/600-italic.css';
@import '@fontsource/source-sans-pro/700-italic.css';

body {
  font-family: var(--f-family);
  font-size: 1.6rem;
  font-weight: var(--f-weight_400);
  color: var(--c_secondary);
  button {
    font-family: var(--f-family);
  }
  span {
    color: var(--c_secondary);
  }
}
