@use 'design-system/src/utils/mixins';
.toggleIconContainer {
  background-color: var(--c_secondary);
  @include mixins.flex($justify: center, $align: center);
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}
.lessIcon {
  display: none;
  &.isOpen {
    display: block;
  }
}
.plusIcon {
  display: none;
  &.isOpen {
    display: block;
  }
}
