@use 'design-system/src/utils/screen';

.section {
  background-color: var(--c_grey-500);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  @include screen.forSize(tablet) {
    height: 30rem;
  }
  @include screen.forSize(desktop) {
    height: 28.5rem;
    justify-content: center;
  }
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0rem;
  margin-top: 0rem;
  padding-top: var(--space-5);
  order: 1;
  position: relative;
  z-index: 1;

  @include screen.forSize(tablet) {
    padding-bottom: var(--space-8);
    padding-top: var(--space-12);
  }
  @include screen.forSize(desktop) {
    padding-bottom: 0rem;
    padding-top: var(--space-4);
  }
}

.background {
  height: 14rem;
  object-fit: cover;
  order: 0;
  width: 100%;

  @include screen.forSize(tablet) {
    bottom: 0rem;
    height: 100%;
    left: 0rem;
    position: absolute;
    right: 0rem;
    top: 0rem;
    z-index: 0;
  }
}

.title {
  color: var(--c_primary);
  font-size: var(--f-size_26);
  line-height: 1.1;
  margin-bottom: var(--space-3);
  max-width: 90rem;
  text-align: center;

  @include screen.forSize(tablet) {
    color: var(--c_white);
    font-size: var(--f-size_34);
    margin-bottom: var(--space-4);
    text-shadow: rgba(0, 0, 0, 0.7) -1px 1px 10px !important;
  }
  @include screen.forSize(desktop) {
    font-size: var(--f-size_48);
    margin-bottom: var(--space-5);
  }
}
.title:last-child {
  margin-bottom: 0rem;
}

.subTitle {
  color: var(--c_secondary);
  font-size: var(--f-size_16);
  margin-bottom: 0rem;

  @include screen.forSize(tablet) {
    color: var(--c_white);
    margin-bottom: 0rem;
    text-shadow: rgba(0, 0, 0, 0.7) -1px 1px 10px !important;
  }
  @include screen.forSize(desktop) {
    font-size: var(--f-size_18);
    margin-bottom: 0rem;
  }
}