.star {
   display: inline-flex;
   height: 2.7rem;
   position: relative;
   width: 2.7rem;
};

.mask {
   display: inline-flex;
   left: 0;
   position: absolute;
   overflow: hidden;
   top: 0;
   z-index: 2;
};

.maskFull {
   position: relative;
};

.starIcon {
   fill: var(--c_tertiary);
   flex-shrink: 0;
   height: 100%;
   width: 2.7rem;
}

.starIconBack {
   fill: var(--c_grey-150);
   height: 100%;
   position: relative;
   width: 100%;
   z-index: 1;
}