@use 'design-system/src/utils/screen';

.carouselCard_container {
   margin-left: calc(var(--p-horizontal_container) * -1);
   margin-right: calc(var(--p-horizontal_container) * -1);
   width: calc(100% + (2 * var(--p-horizontal_container)));

   @include screen.forSize(desktop-md) {
      margin-left: 0rem;
      margin-right: 0rem;
      width: auto;
   }
}

.carouselCard_sliderInner {
   padding-left: var(--space-2);
   padding-right: var(--space-2);

   @include screen.forSize(desktop-md) {
      padding-left: 0rem;
      padding-right: 0rem;
   }
}

.carouselCard_fadeOutLeft {   
  background: linear-gradient(
   to left,
   rgba(255, 255, 255, 0) 0%,
   rgba(255, 255, 255, 0.2) 10%,
   rgba(255, 255, 255, 0.4) 20%,
   rgba(255, 255, 255, 0.6) 30%,
   rgba(255, 255, 255, 0.8) 40%,
   rgba(255, 255, 255, 0.9) 50%,
   rgba(255, 255, 255, 1) 100%
 );

 @include screen.min(950) {
   width: 15rem;
 }
}
 
.carouselCard_fadeOutRight {   
   @include screen.min(600) {
      width: 10rem;
   }
   @include screen.min(950) {
     width: 20rem;
   }
}

.postCardOuter {
   display: flex;
   flex-shrink: 0;
   padding: var(--space-3);
   width: calc(28.5rem + var(--space-6));
}
