
.containerBox {
  display: block;
  position: relative;
  cursor: pointer;
  font-weight: 400;
  user-select: none;
  padding-left: 3.5rem;
  font-size: 1.6rem;
  span:nth-child(2) {
    margin-left: 1rem;
    color: var(--c_grey-450);
    font-size: 1.4rem;
  }
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

.containerBoxChecked {
  color: var(--c_secondary);
}

.checkboxMark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.2rem;
  width: 2.2rem;
  transition: all 0.3s ease-in-out;
  background-color: var(--c_white);
  border-radius: 4px;
  border: 1px solid var(--c_grey-900);
  &:after {
    content: '';
    position: absolute;
    left: .6rem;
    top: .2rem;
    width: .5rem;
    height: 1rem;
    border: solid white;
    border-width: 0 .3rem .3rem 0;
    transform: rotate(45deg);
    border-top-right-radius: .2rem;
    border-bottom-left-radius: .2rem;
  }
}

.checkboxMarkActive {
  background-color: var(--c_secondary);
  border: 1px solid var(--c_secondary);
  &:after {
    display: block;
  }
}

.checkboxError {
  border-color: var(--c_error);
}
